@import "vars";

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: $fz-16;
  color: $white;
  background-color: $background;
  height: 100%;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: unset;
  background-color: transparent;
  cursor: pointer;
}

a {
  color: inherit;
}

input,
button,
textarea,
select {
  font: inherit;
}
