
$white: #fff;
$black: #000;
$main-color: #363221;
$menu-items-color: #666a6d;

$background: #28272a;
$accent-color: #fee251;

$decoration-swiper: #515151;

$fz-14: 0.73vw;
$fz-16: 0.83vw;
$fz-18: 0.94vw;
$fz-20: 1.04vw;
$fz-22: 1.15vw;
$fz-24: 1.25vw;
$fz-35: 1.82vw;
$fz-38: 1.98vw;
$fz-45: 2.34vw;
