.button {
  background-color: $accent-color;
  color: $black;
  font-weight: 700;
  border-radius: 25px;
  padding: 10px 20px;
  transition: transform 0.2s;
  @include onDesktop{
    font-size: $fz-16;
    padding: 10px 40px;
  }

  &:hover {
    transition: transform 0.2s;
    transform: scale(1.1);
    background-color: $white;
  }
}
